.main
  .main__group
    .main__group__left
      %p.main__group__left__name
        = @group.name
      %p.main__group__left__member
        Menber :
        - @group.users.each do |user|
          = user.name
    .main__group__right
      .main__group__right__edit
        = link_to edit_group_path(@group) do
          Edit

  .main__list
    = render @messages

  .main__form
    = form_for [@group, @message] do |f|
      .new_message__contents
        = f.text_field :content, class: "field_with_errors__text", placeholder: "type a message"
        = f.label :image, class: "new_message__contents__image" do
          %i.fa.fa-image
          = f.file_field :image
      = f.submit "Send", class: "new_message__submit"
