.main__list__box{data: {message_id: "#{message.id}"}}
  .main__list__box__top
    .main__list__box__top__name
      = message.user.name
    .main__list__box__top__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .main__list__box__bottom
    - if message.content.present?
      %p.main__list__box__bottom__message
        = message.content
    = image_tag message.image.url, class: 'main__list__box__bottom__image' if message.image.present?